<!-- templates/payments/submit_installment.html -->
{% extends "base.html" %}
{% block content %}
<h3>Submit Installment Payment</h3>
<p>Plan Total: ${{ plan.total_amount }} | Installment: ${{ plan.installment_amount }}</p>

<form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
  {{ form.amount.label }} {{ form.amount(size=20) }}<br>
  {{ form.method.label }} {{ form.method() }}<br>
  {{ form.notes.label(class="block text-sm font-medium text-gray-700")}}
  {{ form.notes(class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm")}}

<input type="submit" value="Submit Payment">
</form>
{% endblock %}